@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #f4f7fc;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #9F86C0; 
    padding: 20px;
    color: white;
    font-size: 18px;
}

nav .menu-items {
    margin-top: 30px;
    list-style: none;
}

nav .menu-items li {
    margin-bottom: 20px;
}

nav .menu-items li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
}


.dashboard {
    margin-left: 250px;
    padding: 40px;
    background-color: #f4f7fc;
    min-height: 100vh;
}

.manage-rooms-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: f4f3ee;
    border-radius: 12px;
    color: #9F86C0;
}

.form-section {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #9F86C0;
}

.form-section h2 {
    font-size: 24px;
    font-weight: 600;
    color: #9F86C0; 
    margin-bottom: 20px;
    border-bottom: 2px solid #9F86C0;
    padding-bottom: 10px;
}


.form-section form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #3A7CA5; 
}

.form-section form input,
.form-section form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-section form input:focus,
.form-section form select:focus {
    border-color: #9F86C0; 
    outline: none;
}

.form-section form button {
    width: 100%;
    padding: 12px;
    background-color: #9F86C0; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.form-section form button:hover {
    background-color: #E0B1CB;
    color: #5E548E;
}
